<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="249da9aa-8a99-4d00-bdb9-9c3b41f4d75a" Publisher="CN=thijs" Version="1.0.0.0" />
  <Properties>
    <DisplayName>SocialGroundsStore</DisplayName>
    <PublisherDisplayName>thijs</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SocialGroundsStore.App">
      <VisualElements DisplayName="SocialGroundsStore" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="SocialGroundsStore" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="logoOnly" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>